@mixin box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin link {
  text-decoration: none;
  color: #000000;
}

@mixin ul {
  list-style-type: none;

}

@mixin btn {
  width: 209px;
  height: 43px;
  margin-top: 29px;
  border: none;
  background-color: #FF9619;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

@mixin hov {
  &:hover {
    background-color: #FF9619;
    opacity: 0.7;

  }

}

// pay api buttons
@mixin button {
  width: 173px;
  height: 48px;
  border: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.115385px;
  color: $main-white;
  background: $main-red;
  box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
  border-radius: 24px;

  &:hover {
    opacity: 0.7;
  }
}

@mixin btn {
  width: 129px;
  height: 48px;
  border: 1px solid $main-white;
  border-radius: 24px;
  background-color: transparent;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  letter-spacing: -0.115385px;
  cursor: pointer;
  color: $main-white;

  &:hover {
    color: $main-black;
    background-color: $main-white;
    transition: all 355ms ease;
  }
}


//visually-hidden

@mixin hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}